
p.smaller { font-size: 10px; }

.bigger { 
  font-size: 18px;  
}

#equipment li {font-size:18px;}

#directions li {font-size: 18px}

#directions {font-size: 20px;}
#equipment {font-size: 20px;}
#ingredients {font-size: 20px; font-weight: bold;}

.big {font-size: 18px; color:red;}

